<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/checkin.css">
    <link rel="stylesheet" type="text/css" href="css/show.css">

    <script src="https://kit.fontawesome.com/2b6852e4e4.js" crossorigin="anonymous"></script>
    <title>Valet Parking</title>
</head>

<body>
    <%- include('partials/header') %>
    <h2 style="padding-left: 20px;">Dashboard</h2>
    <%- include('show') %>
    <%- include('checkin') %>
    
        <!-- <%- include('partials/footer') %> -->
</body>

</html>